{% extends 'main.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}         

    <!--Register--> 
    <div class="container py-1">
        <h1>Registro</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}                    
            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>
        <p class="text-center">Si ya tienes una cuenta, <a href="/login">ingresa</a></p>
    </div>

{% endblock content %}